html {
    background: radial-gradient(circle, rgba(23, 1, 41, 1) 0%, rgba(13, 0, 22, 1) 100%);
    ;
    scroll-behavior: smooth !important;
}

header,main,footer {
    font-family: "Jetbrains Mono", monospace;
}

header h1,h3 {
    text-align: center;
    color: #FFF;
}

header h1 i {
    animation: acenar 1.5s infinite;
    transition: .3 all ease-in-out;
}

.upper-bar ul {
    display: flex;
    padding: 2em;
    gap: 2em;
    font-size: 1.2em;
    justify-content: center;
}

ul li a {
    color: rgb(151, 98, 207);
    transition: 0.3s ease-in-out;
}

li a:hover {
    color: yellow;
}

.contactForms {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me {
    color: #FFF;
}

.container-text-photo {
    min-height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

.text-about-me {
    width: 50%;
}

.text-about-me hr {
    color: #FFF;
}

.text-about-me span {
    font-size: 3em;
    font-weight: 800;
    text-align: justify;
    display: flex;
    color: #9057cc;
}

p i {
    color: #9057cc;

}

#about-me img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation: img 3s infinite;
}

#formation {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    min-height: 60vh;
    font-size: 1.2em;
}

#projects {
    color: #FFF;
}

.futureWork {
    display: flex;
    justify-content: center;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2em; /* Aumenta a fonte */
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #9057cc; /* Define a cor de fundo */
    color: white; /* Define a cor do texto para branco para melhor contraste */
}

.tabela thead tr {
    background-color: #7b3ebc; /* Um tom mais escuro para o cabeçalho */
    color: #ffffff;
    text-align: left;
}

.tabela th,
.tabela td {
    padding: 12px 15px;
}

.tabela tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabela tbody tr:nth-child(even) {
    background-color: #804ac2; /* Um tom ligeiramente mais claro para linhas pares */
}

.tabela tbody tr:last-of-type {
    border-bottom: 2px solid #7b3ebc;
}

#contact {
    min-height: 100dvh;
    color: #FFF;
}

@keyframes img {
    0% {
        transform: translateY(0em);
    }

    50% {
        transform: translateY(-2em);
    }

    100% {
        transform: translateY(0em);
    }
}

footer {
    text-align: center;
    color: #FFF;
}